#include <winver.h>

#define IDI_ICON1            101
#define RAINBOW_VERSION      1,0,0,0
#define RAINBOW_VERSION_STR  "1.0.0.0"

#ifdef NDEBUG
#	define RAINBOW_DEBUG 0
#else
#	define RAINBOW_DEBUG VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     RAINBOW_VERSION
PRODUCTVERSION  RAINBOW_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       RAINBOW_DEBUG
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "00000000"
		BEGIN
			VALUE "CompanyName",       "Bifrost Entertainment AS"
			VALUE "FileDescription",   "Rainbow 2D Game Engine"
			VALUE "FileVersion",       RAINBOW_VERSION_STR
			VALUE "InternalName",      "Rainbow"
			VALUE "LegalCopyright",    "Copyright \251 2010-present Bifrost Entertainment AS"
			VALUE "OriginalFilename",  "rainbow.exe"
			VALUE "ProductName",       "Rainbow"
			VALUE "ProductVersion",    RAINBOW_VERSION_STR
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
//IDI_ICON1 ICON "app.ico"
