root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cpp,cs,h,m,mm}]
indent_size = 4

[*.{cpp,h,m,mm}]
max_line_length = 80

[*.cs]
max_line_length = 100

[*.{cmake,js,json,natvis,sh,ts,yml},CMakeLists.txt]
indent_size = 2
