[submodule "lib/Catch"]
	path = lib/Catch
	url = git://github.com/philsquared/Catch.git
[submodule "lib/FreeType"]
	path = lib/FreeType
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "lib/libpng"]
	path = lib/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "lib/nanovg"]
	path = lib/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "lib/spine-runtimes"]
	path = lib/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = git://github.com/madler/zlib.git
