[submodule "lib/FreeType"]
	path = lib/FreeType
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "lib/abseil-cpp"]
	path = lib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "lib/cubeb"]
	path = lib/cubeb
	url = https://github.com/kinetiknz/cubeb.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/abseil/googletest.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/libpng"]
	path = lib/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "lib/nanosvg"]
	path = lib/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "lib/ogg"]
	path = lib/ogg
	url = https://github.com/xiph/ogg.git
[submodule "lib/panini"]
	path = lib/panini
	url = https://github.com/tido64/panini.git
[submodule "lib/spine-runtimes"]
	path = lib/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/variant"]
	path = lib/variant
	url = https://github.com/mapbox/variant.git
[submodule "lib/vorbis"]
	path = lib/vorbis
	url = https://github.com/xiph/vorbis
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
