language: cpp
compiler:
  - gcc
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - libopenal-dev
      - libsdl2-dev
      - libvorbis-dev
      - ninja-build
      - pulseaudio
install:
  - mkdir -p local
  - if [[ ! -x local/bin/cmake ]]; then curl -LO http://cmake.org/files/v3.6/cmake-3.6.2-Linux-x86_64.sh; fi
  - if [[ -f cmake-3.6.2-Linux-x86_64.sh ]]; then sh cmake-3.6.2-Linux-x86_64.sh --prefix=local --skip-license; fi
  - export CC=gcc-6 CXX=g++-6 PATH=$(pwd)/local/bin:$PATH
script:
  - mkdir $TRAVIS_BUILD_DIR-build
  - cd $TRAVIS_BUILD_DIR-build
  - GENERATOR=Ninja $TRAVIS_BUILD_DIR/tools/build.sh -DCMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE -DUNIT_TESTS=1 -DUSE_PHYSICS=1 -DUSE_SPINE=1
  - ./rainbow --test
cache:
  directories:
    - local
after_success:
  - cd $TRAVIS_BUILD_DIR
  - if [[ "$CMAKE_BUILD_TYPE" == "Debug" ]]; then cp -r $TRAVIS_BUILD_DIR-build/CMakeFiles/rainbow.dir/src .; fi
  - if [[ "$CMAKE_BUILD_TYPE" == "Debug" ]]; then bash <(curl -s https://codecov.io/bash) -x gcov-6; fi
branches:
  only:
    - master
notifications:
  email: false
env:
  - CMAKE_BUILD_TYPE=Debug
  - CMAKE_BUILD_TYPE=MinSizeRel
  - CMAKE_BUILD_TYPE=RelWithDebInfo
os:
  - linux
sudo: required
dist: trusty
