@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700|Inconsolata:400,700);

.optional {
  font-size: 0.7em;
  margin: 0 0 0.33em 0;
  padding: 0 0.33em;
  color: #fff;
  border: 1px solid #46b8da;
  border-radius: 0.33em;
  background: #5bc0de;
}

.optional:before {
  content: 'optional';
}

.rainbow {
  color: #ffffff;
  text-shadow:  2px  1px 0 #dd0000,  4px  2px 0 #dd0000,
                6px  3px 0 #fe6230,  8px  4px 0 #fe6230,
               10px  5px 0 #fef600, 12px  6px 0 #fef600,
               14px  7px 0 #00bc00, 16px  8px 0 #00bc00,
               18px  9px 0 #009bfe, 20px 10px 0 #009bfe,
               22px 11px 0 #000083, 24px 12px 0 #000083,
               26px 13px 0 #30009b, 28px 14px 0 #30009b;
}

/* Overrides */

html, body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a, h1, h2, h3, h4, td, var {
  font-family: inherit !important;
}

code {
  letter-spacing: normal !important;
}

h1, h2, h3, h4 {
  font-weight: lighter !important;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

th {
  font-size: 0.8em;
}

.content h3 {
  font-size: 1.3em;
}

.header {
  padding: 10px 30px;
}

.header h1 {
  font-size: 1.0em;
  padding-right: 1.0em;
}

.hljs {
  font-family: 'Inconsolata', monospace !important;
  font-size: 1.0em !important;
}
