/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* RESET */
a, body, div, h1, h2, h3, h4, li, object, p, table, td, tr, ul { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* START CSS */
body {
	width: 100%;
	font-family: 'Dosis', sans-serif;
}
#content {
	float: left;
	max-width: 80%;
	padding: 12px 48px;
	margin: 0 128px 0;
}
#logo {
	position: fixed;
	z-index: 9001;
	bottom: 16px;
	left: 41px;
}
#overview {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100px;
	height: 100%;
	padding: 100px 24px 0;
	border-right: 1px solid #b9b9b9;
	background-color: #e9e9e9;
}
#overview ul {
	margin: 0 8px;
}
#top {
	position: fixed;
	bottom: 16px;
	right: 16px;
}
.code {
	margin: 8px;
	padding: 8px;
	border-left: 4px solid #b9b9b9;
	background-color: #e9e9e9;
	font-family: 'Inconsolata', monospace;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	white-space: pre;
}
.details {
	margin: 8px 0;
	padding: 4px 8px;
	border: 1px solid #e9e9e9;
}
.details a, p a {
	color: #dd0000;
}
.emphasize {
	font-style: italic;
}
.mono {
	padding-top: 3px;
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-weight: normal;
}
.optional:before {
	font-size: 0.7em;
	font-weight: bold;
	content: '[optional] ';
}
.toc {
	width: 200px;
	margin-top: 16px;
	padding: 4px;
	border: 1px solid #e9e9e9;
	background-color: #f9f9f9;
}
.toc ul {
	margin-left: 8px;
	margin-bottom: 4px;
	font-size: 0.8em;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #dd0000;
}
h1 {
	padding: 24px 0 24px 174px;
	border-bottom: 1px solid #b9b9b9;
	background-color: #f9f9f9;
	background-image:      linear-gradient(to left, #f9f9f9, #b9b9b9); /* Firefox 16+, IE10, Opera 12.50+ */
	background-image: -webkit-linear-gradient(left, #f9f9f9, #b9b9b9); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	font-size: 3em;

	/* LOL */

	color: #ffffff;
	text-shadow:
		 1px  1px 0 #dd0000,  2px  2px 0 #dd0000,
		 3px  3px 0 #fe6230,  4px  4px 0 #fe6230,
		 5px  5px 0 #fef600,  6px  6px 0 #fef600,
		 7px  7px 0 #00bc00,  8px  8px 0 #00bc00,
		 9px  9px 0 #009bfe, 10px 10px 0 #009bfe,
		11px 11px 0 #000083, 12px 12px 0 #000083,
		13px 13px 0 #30009b, 14px 14px 0 #30009b;
}
h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.6em;
}
h3 {
	margin: 16px 0 0;
	padding: 16px 0 0;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
}
h4 {
	margin: 4px 0 0;
	font-size: 0.8em;
}
p + p {
	margin: 2px 0;
	text-indent: 2em;
}
sub, sup {
	font-size: 0.65em;
}
table {
	margin: 4px 0 8px;
	border: 1px solid #b9b9b9;
}
td {
	padding: 0 16px 0;
	border: 1px solid #b9b9b9;
	vertical-align: top;
}
td.mono, td.param {
	background-color: #eeffee;
	font-size: 0.9em;
}
td.pdesc {
	background-color: #f9f9f9;
	font-size: 0.95em;
}
ul {
	width: auto;
	list-style: none;
}
