BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
FixNamespaceComments: true
IncludeCategories:
  - Regex: '^["<](AL|AVFoundation|AudioToolbox|Box2D|CoreMotion|CoreServices|EGL|GL|GLES2|GLKit|OpenAL|OpenGL|OpenGLES|SDL|UIKit|android|boost|fmod|gtest|vorbis)[\/_]'
    Priority: 2
  - Regex: '^<'
    Priority: 1
  - Regex: '.\*'
    Priority: 10
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 160
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
TabWidth: 4
