Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 77
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
TabWidth: 4
UseTab: ForIndentation
