a {
  color: rgb(204, 82, 137);
}

a:hover {
  color: rgb(214, 116, 160);
}

.button {
  border: 1px solid rgb(204, 82, 137);
  color: rgb(204, 82, 137);
}

.button:hover {
  background: rgb(204, 82, 137);
  color: rgb(255, 255, 255);
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
